html{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    font-family: Helvetica, sans-serif;
    color: #fff5ee;
    opacity: 0.9;
}

nav img{
    width: auto;
    height: 50px;
    float: left;
}

nav li{
    display: inline;
    padding: 10px;
    float: right;
}

nav a{
    text-decoration: none;
    color: #fff5ee;
    opacity: 0.9;
}

nav a:hover{
    color: #b7a59a;
}

#mission {
    border-radius: 15px;
    background-image: url("./img/img-mission-background.jpg");
    background-size: cover;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-header {
    background-color: #000000;
    opacity: 0.8;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: transform .2s;
}

.mission-header:hover{
    transform: scale(1.1);
}

.mission-header h2,
.mission-header h4 {
    margin: 0;
}

#featured {
    margin: 0 auto;
    width: 1000px;
}

.tea-header{
    text-align: center;
    margin: 50px 0;
}

.featured-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.item img {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    transition: transform .3s;
}

.item img:hover {
    transform: scale(1.1);
}

.item h4 {
    margin-top: 10px;
    text-align: center;
}

#locations {
    background-image: url('img/img-locations-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 15px;
    height: 570px;
    width: 1200px;
}

.our-locations {
    display: flex;
    gap: 45px;
}

.location {
    text-align: center;
    width: 300px;
    opacity: 1;
    background-color: #000000;
    opacity: 0.8;
    border-radius: 10px;
    transition: transform .2s;
}

.location:hover {
    transform: scale(1.1);
}

#locations h2 {
    margin-bottom: 15px;
}

footer{
    text-align: center;
}
